.icon-home {
  mask-image: url('../assets/home.svg');
}
.icon-scroll {
  mask-image: url('../assets/scroll.svg');
}
.icon-tools {
  mask-image: url('../assets/tools.svg');
}
.icon-view2d {
  mask-image: url('../assets/view2d.svg');
}
.icon-view3d {
  mask-image: url('../assets/view3d.svg');
}
.icon-views {
  mask-image: url('../assets/views.svg');
}
.icon-zoom {
  mask-image: url('../assets/zoom.svg');
}
