@import '@/styles/vars.scss';

* {
  box-sizing: border-box;
}
body {
  font-family: Verdana, sans-serif;
  font-size: $font-size;
}
html, body, .app, .home, .views {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}
.home {
  background-color: $bg-dark;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.views {
  display: flex;
  flex-direction: column;
}
.header {
  color: $color-menu;
  background-color: $bg-menu;
  box-shadow: $shadow-box;
  text-shadow: $shadow-text;
  z-index: $z-headers;
  display: flex;
  flex-direction: row;
}
.main {
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
}
.layout {
  position: relative;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
}
@media (min-aspect-ratio: 4/3) {
  .layout {
    flex-direction: row;
  }
}
.tip {
  position: absolute;
  background-color: $bg-tip;
  box-shadow: $shadow-soft;
  font-size: $font-size-tip;
  margin: 5px;
  padding: 4px 4px 3px;
  z-index: $z-tip;
}
.anchor {
  position: absolute;
}
.left {
  left: 0;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.h-center {
  left: 50%;
}
.v-center {
  top: 50%;
}
.menu {
  display: flex;
  align-content: stretch;
  font-size: $font-size-menu;
}
.menu label {
  padding: $padding-menu;
  user-select: none;
}
.menu label:hover {
  background-color: $bg-menu-hover;
}
.menu input {
  display: none;
}
.menu input:checked + label {
  background-color: $bg-menu-active;
}
.active {
  background-color: $bg-menu-active;
}
.separator {
  background-color: $bg-menu-dark;
  width: 2px;
}
button {
  color: $color-menu;
  background-color: $bg-menu;
  border: none;
  margin: 10px;
  padding: $padding-menu;
  box-shadow: $shadow-soft;
  outline: none;
}
button:hover {
  background-color: $bg-menu-hover;
}
button:active {
  background-color: $bg-menu-active;
  box-shadow: none;
}
.toolbar-top {
  position: relative;
  left: -50%;
  top: 0;
  border-radius: 0 0 5px 5px;
  background-color: rgba(0, 0, 0, 0.25);
}
.toolbar-bottom {
  position: relative;
  left: -50%;
  bottom: 0;
  border-radius: 5px 5px 0 0;
  background-color: rgba(0, 0, 0, 0.25);
}
select {
  border: none;
}

.section {
  padding: $padding-menu;
  color: white;
  text-shadow: $shadow-text;
  background-color: $bg-menu-hover;
}
.slider-container {
  margin: 10px;
}

.window {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  pointer-events: none;
}
.window-header {
  color: white;
  font-size: $font-size-menu;
  text-shadow: $shadow-text;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $bg-menu;
  flex: 0 0 auto;
}
.window-title {
  padding: $padding-menu;
}
.window-content {
  position: relative;
  background-color: $bg-dark;
  flex: 1 1 auto;
  overflow: auto;
  pointer-events: auto;
}
