$shadow-box: 0 0 8px rgba(0, 0, 0, 0.5);
$shadow-soft: 0 0 5px rgba(0, 0, 0, 0.25);
$shadow-text: 0 0 5px rgba(0, 0, 0, 0.5);

$font-size: 12px;
$font-size-menu: 12px;
$font-size-tip: 12px;

$z-tip: 1;
$z-floating: 10;
$z-headers: 20;
$z-modal: 30;

$icon-size: 24px;
$icon-margin: 6px;

$bg-main: #d0e0f0;
$bg-dark: #c0d0e0;
$bg-tool: #dfefff;

$bg-tip: #fffff0;
$bg-menu: #405470;
$bg-menu-hover: #406890;
$bg-menu-medium: #4070a0;
$bg-menu-active: #4078b0;
$bg-menu-dark: #384858;

$color-menu: white;

$padding-menu: 8px 10px 7px;
